{
	email {$ACME_EMAIL}
	admin off
}

{$APP_DOMAIN} {
	encode zstd gzip
	reverse_proxy app:3004
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		-Server
	}
	log {
		output stdout
		format json
	}
}
